@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Abril Fatface', cursive;

    background-color: rgb(0, 42, 82);
    margin: 0;
    padding: 0;
}

.box {
    background-color: rgb(88, 139, 174);
    width: 70%;

    display: block;
    margin: auto;

    border-radius: 30px;
}

.titulo {
    font-size: 60px;
    text-align: center;
}

.inputs,
.operaciones {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.item {
    width: 250px;
    height: 50px;
    margin: 0 5px;
}

.btn {
    width: 35px;
    height: 35px;
    margin: 10px;
    cursor: pointer;
}

.resultado {

    text-align: center;
    padding: 1em;
}